.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid red; */
    justify-content: center;
    width: 65vw;
    gap: 2rem;
    justify-items: center;
    margin: 2rem 0rem;
}

.project {
    padding: 1rem 1rem 1.5rem 1rem;
    background: var(--color-primary-varient);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project a .btn2 {
    background: transparent;
    border-radius: 10px;
    padding: 0.8rem 1.7rem;
}

.project a .btn {
    border-radius: 10px;
    padding: 1rem 2.3rem;
}


.project img {
    width: 320px;
    height: 260px;
    border-radius: 30px;
}

.portfolio {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;

}

.project p {
    margin: 1rem 0rem;
}

@media screen and (max-width:795px) {
    .project img {
        width: 280px;
        height: 260px;
        border-radius: 30px;
    }
}

@media screen and (max-width:670px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .project img {
        width: 330px;
        height: 260px;
        border-radius: 30px;
    }
}