.nav {
    position: fixed;
    left: 50%;
    top: 650px;
    transform: translate(-50%, -50%);
    background: var(--color-primary-varient);
    padding: 0.5rem;
    border-radius: 50px;
    /* opacity: 0.6; */
    z-index: 9999;
}

.navbar a {
    margin: 1rem;
    color: var(--color-light);
    font-size: 1.2rem;
    opacity: 1;
}

.navbar a.active {
    background: var(--color-bg);
    color: var(--color-white);
    border-radius: 50px;
    padding: 0.1rem 0.4rem;
}


@media screen and (max-width:560px) {
    .nav .navbar a {
        margin: 0rem 1rem;
    }

    .nav {
        width: 60vw;
    }
}

@media screen and (max-width:457px) {
    .nav .navbar a {
        margin: 0rem 1rem;
    }

    .nav {
        width: 70vw;
    }
}

@media screen and (max-width:450px) {
    .nav .navbar a {
        margin: 0rem 1rem;
    }

    .nav {
        width: 70vw;
        top: 600px;
    }
}

@media screen and (max-width:390px) {
    .nav .navbar a {
        margin: 0rem 1rem;
    }

    .nav {
        width: 80vw;
        top: 530px;
    }
}

@media screen and (max-width:339px) {
    .nav .navbar a {
        margin: 0rem 1rem;
    }

    .nav {
        width: 98vw;
        top: 530px;
        margin: 0;
    }

    .navbar a {
        margin: 0.5rem;
    }
}

@media screen and (max-width:396px) {
    .nav .navbar a {
        margin: 0rem 1rem;
    }

    .nav {
        width: 80vw;
        top: 528px;
    }
}